*{
  margin:0;
  padding:0;
}

.bg-cover {
  background-attachment: static;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
}

.display-4 {
padding: 100px;
color: white;
font-weight: bold;
}

.col-sm{
  margin:0;
  background-color: lightgrey;
  border: 2px solid black;
  padding: 10px;
  font-size:20px;
  text-align:right;
}

.d-flex{
  flex-wrap:wrap;
  background-color:beige;
  padding-left:10px
}